Package: boots-puzzle
Version: 0.3.6
Section: games
Priority: optional
Maintainer: Pierre-Henri Trivier <phtrivier@yahoo.fr>
Architecture: i386
Description: Extendible Puzzle Game
 A puzzle game where you must travel through maze
 by using different kind of boots (each boot make
 you move a different way). 
 The game is written in Ruby, and extendible through
 a Ruby plugins mechanism.
Depends: ruby, ruby1.8, ruby1.8-dev, libsdl-ruby1.8, libmocha-ruby1.8, rake
