*~
*#*
*#
src/editor/foo_puzzle.rb
logs/*.log
*semantic.cache
*.info
doc/boots-puzzle/*.html
doc/*.aux
doc/*.cp
doc/*.cps
doc/*.fn
doc/*.ky
doc/*.log
doc/*.pdf
doc/*.pg
doc/*.toc
doc/*.tp
doc/*.vr
doc/dist
pkg
pkg/*
boots-puzzle.list
linux-2.6-intel
